{% set userlist_end_point = path(context.end_point) %}

<div id="{{context.userlist_container_id}}">Loading users...</div>
<script type="text/javascript">
    // TODO: Move to exercise1.js file
	fetch("{{ userlist_end_point }}").then(response => response.text()).then(html => {
        var parser = new DOMParser();
        var doc = parser.parseFromString(html, 'text/html');
        var $ele = document.getElementById("{{ context.userlist_container_id }}");
        if(doc.querySelector('div')){
            $ele.innerHTML = "";
        $ele.append(doc.querySelector('div'));
        }
    }).catch(function (e) {
        console.warn(e);
    });
</script>

